TestResult.xml
build/
bin/
obj/
_ReSharper.*
*.ReSharper.user
*.resharper.user
*.csproj.user
*.ncb
*.aps
*.suo
*.sln.cache

/src/RavenDBMembership.Web/App_Data
/src
/src/Backup
/src/Backup/RavenDBMembership.Web
/src/Backup/RavenDBMembership.Web/Content
/src/Backup/RavenDBMembership.Web/Content/themes/base
/src/Backup/RavenDBMembership.Web/Content/themes/base/images
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-icons_222222_256x240.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-icons_2e83ff_256x240.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-icons_454545_256x240.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-icons_888888_256x240.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/images/ui-icons_cd0a0a_256x240.png
/src/Backup/RavenDBMembership.Web/Content/themes/base/jquery-ui.css
/src/Backup/RavenDBMembership.Web/Content/Site.css
/src/Backup/RavenDBMembership.Web/Controllers
/src/Backup/RavenDBMembership.Web/Controllers/AccountController.cs
/src/Backup/RavenDBMembership.Web/Controllers/HomeController.cs
/src/Backup/RavenDBMembership.Web/Infrastructure
/src/Backup/RavenDBMembership.Web/Infrastructure/WindsorControllerFactory.cs
/src/Backup/RavenDBMembership.Web/Infrastructure/WindsorServiceLocator.cs
/src/Backup/RavenDBMembership.Web/Models
/src/Backup/RavenDBMembership.Web/Models/AccountModels.cs
/src/Backup/RavenDBMembership.Web/Models/EditUserModel.cs
/src/Backup/RavenDBMembership.Web/Properties
/src/Backup/RavenDBMembership.Web/Properties/AssemblyInfo.cs
/src/Backup/RavenDBMembership.Web/Scripts
/src/Backup/RavenDBMembership.Web/Scripts/jquery-1.4.1-vsdoc.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-1.4.1.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-1.4.1.min.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-1.4.4-vsdoc.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-1.4.4.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-1.4.4.min.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-ui.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery-ui.min.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.unobtrusive-ajax.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.unobtrusive-ajax.min.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.validate-vsdoc.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.validate.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.validate.min.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.validate.unobtrusive.js
/src/Backup/RavenDBMembership.Web/Scripts/jquery.validate.unobtrusive.min.js
/src/Backup/RavenDBMembership.Web/Scripts/MicrosoftAjax.debug.js
/src/Backup/RavenDBMembership.Web/Scripts/MicrosoftAjax.js
/src/Backup/RavenDBMembership.Web/Scripts/MicrosoftMvcAjax.debug.js
/src/Backup/RavenDBMembership.Web/Scripts/MicrosoftMvcAjax.js
/src/Backup/RavenDBMembership.Web/Scripts/MicrosoftMvcValidation.debug.js
/src/Backup/RavenDBMembership.Web/Scripts/MicrosoftMvcValidation.js
/src/Backup/RavenDBMembership.Web/Views
/src/Backup/RavenDBMembership.Web/Views/Account
/src/Backup/RavenDBMembership.Web/Views/Account/ChangePassword.cshtml
/src/Backup/RavenDBMembership.Web/Views/Account/ChangePasswordSuccess.cshtml
/src/Backup/RavenDBMembership.Web/Views/Account/EditUser.cshtml
/src/Backup/RavenDBMembership.Web/Views/Account/LogOn.cshtml
/src/Backup/RavenDBMembership.Web/Views/Account/ManageRoles.cshtml
/src/Backup/RavenDBMembership.Web/Views/Account/ManageUsers.cshtml
/src/Backup/RavenDBMembership.Web/Views/Account/Register.cshtml
/src/Backup/RavenDBMembership.Web/Views/Home
/src/Backup/RavenDBMembership.Web/Views/Home/About.cshtml
/src/Backup/RavenDBMembership.Web/Views/Home/Index.cshtml
/src/Backup/RavenDBMembership.Web/Views/Shared
/src/Backup/RavenDBMembership.Web/Views/Shared/Error.cshtml
/src/Backup/RavenDBMembership.Web/Views/Shared/_Layout.cshtml
/src/Backup/RavenDBMembership.Web/Views/Shared/_LogOnPartial.cshtml
/src/Backup/RavenDBMembership.Web/Views/Web.config
/src/Backup/RavenDBMembership.Web/Views/_ViewStart.cshtml
/src/Backup/RavenDBMembership.Web/Global.asax
/src/Backup/RavenDBMembership.Web/Global.asax.cs
/src/Backup/RavenDBMembership.Web/RavenDBMembership.Web.csproj
/src/Backup/RavenDBMembership.Web/Web.config
/src/Backup/RavenDBMembership.Web/Web.Debug.config
/src/Backup/RavenDBMembership.Web/Web.Release.config
/src/Backup/RavenDBMembership.sln
/src/packages
/src/packages/RavenDB.Client.2.0.2375
/src/packages/RavenDB.Client.2.0.2375/lib
/src/packages/RavenDB.Client.2.0.2375/lib/net40
/src/packages/RavenDB.Client.2.0.2375/lib/net40/Raven.Abstractions.dll
/src/packages/RavenDB.Client.2.0.2375/lib/net40/Raven.Abstractions.pdb
/src/packages/RavenDB.Client.2.0.2375/lib/net40/Raven.Abstractions.xml
/src/packages/RavenDB.Client.2.0.2375/lib/net40/Raven.Client.Lightweight.dll
/src/packages/RavenDB.Client.2.0.2375/lib/net40/Raven.Client.Lightweight.pdb
/src/packages/RavenDB.Client.2.0.2375/lib/net40/Raven.Client.Lightweight.xml
/src/packages/RavenDB.Client.2.0.2375/lib/sl40
/src/packages/RavenDB.Client.2.0.2375/lib/sl40/AsyncCtpLibrary_Silverlight.dll
/src/packages/RavenDB.Client.2.0.2375/lib/sl40/AsyncCtpLibrary_Silverlight.xml
/src/packages/RavenDB.Client.2.0.2375/lib/sl40/Raven.Client.Silverlight-4.dll
/src/packages/RavenDB.Client.2.0.2375/lib/sl40/Raven.Client.Silverlight-4.pdb
/src/packages/RavenDB.Client.2.0.2375/lib/sl50
/src/packages/RavenDB.Client.2.0.2375/lib/sl50/AsyncCtpLibrary_Silverlight5.dll
/src/packages/RavenDB.Client.2.0.2375/lib/sl50/AsyncCtpLibrary_Silverlight5.xml
/src/packages/RavenDB.Client.2.0.2375/lib/sl50/Raven.Client.Silverlight.dll
/src/packages/RavenDB.Client.2.0.2375/lib/sl50/Raven.Client.Silverlight.pdb
/src/packages/RavenDB.Client.2.0.2375/lib/sl50/Raven.Client.Silverlight.xml
/src/packages/RavenDB.Client.2.0.2375/RavenDB.Client.2.0.2375.nupkg
/src/packages/RavenDB.Client.2.0.2375/RavenDB.Client.2.0.2375.nuspec
/src/packages/RavenDB.Database.2.0.2375
/src/packages/RavenDB.Database.2.0.2375/lib/net40
/src/packages/RavenDB.Database.2.0.2375/lib/net40/AWS.Extensions.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/AWS.Extensions.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/AWSSDK.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/AWSSDK.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Esent.Interop.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Esent.Interop.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Esent.Interop.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/GeoAPI.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/ICSharpCode.NRefactory.CSharp.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/ICSharpCode.NRefactory.CSharp.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/ICSharpCode.NRefactory.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/ICSharpCode.NRefactory.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Jint.Raven.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Jint.Raven.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Lucene.Net.Contrib.Spatial.NTS.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Lucene.Net.Contrib.Spatial.NTS.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Lucene.Net.Contrib.Spatial.NTS.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Lucene.Net.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Lucene.Net.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Lucene.Net.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Mono.Cecil.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/NetTopologySuite.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/PowerCollections.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Raven.Abstractions.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Raven.Abstractions.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Raven.Abstractions.xml
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Raven.Database.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Raven.Database.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Spatial4n.Core.NTS.dll
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Spatial4n.Core.NTS.pdb
/src/packages/RavenDB.Database.2.0.2375/lib/net40/Spatial4n.Core.NTS.xml
/src/packages/RavenDB.Database.2.0.2375/RavenDB.Database.2.0.2375.nupkg
/src/packages/RavenDB.Database.2.0.2375/RavenDB.Database.2.0.2375.nuspec
/src/packages/RavenDB.Embedded.2.0.2375
/src/packages/RavenDB.Embedded.2.0.2375/lib/net40
/src/packages/RavenDB.Embedded.2.0.2375/lib/net40/Raven.Client.Embedded.dll
/src/packages/RavenDB.Embedded.2.0.2375/lib/net40/Raven.Client.Embedded.pdb
/src/packages/RavenDB.Embedded.2.0.2375/lib/net40/Raven.Client.Embedded.xml
/src/packages/RavenDB.Embedded.2.0.2375/RavenDB.Embedded.2.0.2375.nupkg
/src/packages/RavenDB.Embedded.2.0.2375/RavenDB.Embedded.2.0.2375.nuspec
/src/_UpgradeReport_Files
/src/_UpgradeReport_Files/UpgradeReport.css
/src/_UpgradeReport_Files/UpgradeReport.xslt
/src/_UpgradeReport_Files/UpgradeReport_Error.png
/src/_UpgradeReport_Files/UpgradeReport_Information.png
/src/_UpgradeReport_Files/UpgradeReport_Success.png
/src/_UpgradeReport_Files/UpgradeReport_Warning.png
/src/RavenDBMembership.sln.DotSettings.user
/src/UpgradeLog.htm
/src/UpgradeLog.XML
